<html>
  <head>
    <title>Picks for Week #{{week}} ({{username}})</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

    <script type="text/javascript">
      function make_selection(team, pick_args) {
        
      }
    </script>
  </head>
  <body>
    <div class="games">
      {% for pick in picks %}
      <table width="250">
        <tr><td colspan="3"> 
            {% if pick.game.started() %} {{pick.game.time_left}}
            {% else %}
            {{pick.game.game_time}} {% endif %}
        </td></tr>
        <tr>
          <td><input type="radio" onClick="make_selection({{pick.game.away_team.id}}, '{{pick.js_args}}')"/></td>
          <td>{{pick.game.away_team.name}}</td>
          <td>{{pick.game.away_score}}</td>
        </tr>
        <tr>
          <td><input type="radio" onClick="make_selection({{pick.game.home_team.id}}, '{{pick.js_args}}')"/></td>
          <td>{{pick.game.home_team.name}}</td>
          <td>{{pick.game.home_score}}</td>
        </tr>
        </td></tr>
      </table>
      {% endfor %}
    </div>
  </body>
</html>
